.card_icons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #f8f8ff;
  width: 500px;
  height: 250px;
  border-radius: 5px;
  border-style: solid;
  border-color: #4169e1;
  box-shadow: 4px 4px 5px #4169e1;
}

.card_info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  margin-bottom: 20px;
  padding: 10px;
}
