.card_viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 200px;
}

.card_btns {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.card_stats {
  display: flex;
  justify-content: center;
  gap: 70px;
  padding-bottom: 20px;
}
